/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #4c4c4c;
    font-size: 14px;
    line-height: 24px;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    min-width: 1340px;
    position: relative;
}
/**********************/
/*   Main container   */
#main-container {
    width: 100%;
    font-size: 100%;
}

.no-pm {
    padding: 0;
    margin: 0;
}

.no-mgright {
    margin-right: 0 !important;
}
/**************/
/* Kopa Area1 */
#kopa-area1 {
    display: block;
    width: 100%;
    height: 754.875px;
    font-size: 100%;
    position: relative;
}
/* Kopa Area1 Menu */
#kopa-area1-menu {
    display: block;
    width: 100%;
    position: absolute;
    z-index: 10;
    color: white;
    height: 35px;
    font-weight: bold;
    top: 45px;
    left: 0;
}

#kopa-logo {
    display: inline-block;
    float: left;
    width: 225px;
    height: 35px;
    text-align: center;
/*    margin: 0 auto;*/
}

#kopa-main-menu {
    display: inline-block;
    float: left;
    list-style-type: none;
    height: 35px;
    margin: 0 0 0 60px;
}

#kopa-main-menu > li {
    float: left;
    height: 35px;
    line-height: 35px;
    margin-right: 50px;
}

#kopa-main-menu > li > a {
    color: white;
    font-weight: bold;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

#kopa-main-menu > li > a:hover,#kopa-main-item > li > a:hover  {
    transition: all 0.2s ease;
    color: #ffba00;
}

#kopa-main-item {
    display: inline-block;
    float: left;
    list-style-type: none;
    margin: 0;   
    margin-left: 40px;
    line-height: 35px;
    
}

#kopa-main-item li {
    float: left;
    height: 25px;
    margin-top: 5px;
    margin-left: 15px;
    line-height: 25px;
    padding-left: 16px;
    border-left: 1px solid rgba(221, 221, 221, 0.2);
}

#kopa-main-item li:nth-child(1) {
    border: none;
}

#kopa-main-item a {
    color: white;
}


/* Kopa Area1 Slide */
#kopa-area1-slide {
    display: block;
    width: 100%;
    overflow: hidden;
}

#kopa-slide-wrapper {
    display: block;
    width: 10000px;
    height: 745.875px;
    transform: translate3d(-1360px, 0, 0);
}

.kopa-slides {
    width: 1360px;
    height: 745.875px;
    position: relative;
    float: left;
}


#kopa-slide-img {
    width: 100%;
    height: 745.875px;
    overflow: hidden;
}

#kopa-slide-img img {
    width: 100%;
    height: 745.875px;
}

.sp-layer-l, .sp-layer-a, .sp-layer-s, .sp-layer-t, .sp-layer-40, #sp-layer-creative, #sp-layer-studios, .sp-layer-smtext1, .sp-layer-smtext2, .sp-layer-smtext3, .sp-layer-smtext4 {
    font-size: 300px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    margin: 0;
    line-height: 1.4;
    z-index: 10;
    visibility: visible;
    transform-origin: left top 0px;
/*    transform: scale(0.69063);*/
    position: absolute;
}

.sp-layer-l {
    transform: scale(0.69063) translate3d(0 ,-50px, 0);
    opacity: 0;
    transition: all 1.5s;
    top: 32%;
    left: 29%;
}

.sp-layer-a {
    top: 41%;
    left: 37.5%;
    transition: all 1.5s;
    opacity: 0;
    transform: scale(0.69063) translate3d(0 ,-50px, 0);
}

.sp-layer-s {
    transition: all 1.5s;
    opacity: 0;
    transform: scale(0.69063) translate3d(0 ,-50px, 0);
    top: 31%;
    left: 49.5%;
}

.sp-layer-t {
    top: 41%;
    left: 61%;
    transition: all 1.5s;
    opacity: 0;
    transform: scale(0.69063) translate3d(0 ,50px, 0);
}

.sp-layer-40 {
    font-size: 600px;
    font-family: 'Lato', sans-serif;
    color: rgba(26, 66, 100, 0.4);
    top: 17%;
    font-weight: bold;
    left: 32.7%;
    z-index: 8;
    transition: all 1.5s;
    opacity: 0;
    transform: scale(0.69063) translate3d(0 ,50px, 0);
}

#sp-img-01 {
    visibility: visible;
    transform-origin: left top 0px;
    transition: all 1.5s;
    transform: scale(0.69063) translate3d(0 ,-50px, 0);
    position: absolute;
    opacity: 0;
    top: 47%;
    left: 36.5%;
    z-index: 11;
}

#sp-img-02 {
    visibility: visible;
    transform-origin: left top 0px;
    transition: all 1.5s;
    transform: scale(0.69063) translate3d(0 ,-50px, 0);
    position: absolute;
    opacity: 0;
    margin: 0;
    top: 18%;
    left: 47%;
}

#sp-layer-creative {
    font-size: 39.33px;
    transition: all 3s;
    transform: scale(0.69063) translate3d(50px ,0, 0);
    position: absolute;
    opacity: 0;
    left: 36.7%;
    top: 27%;
}
#sp-layer-studios {
    font-size: 39.33px;
    transition: all 3s;
    transform: scale(0.69063) translate3d(-50px ,0, 0);
    position: absolute;
    opacity: 0;
    top: 27%;
    left: 53%;
}
.sp-layer-border1,.sp-layer-border2,.sp-layer-border3,.sp-layer-border4 {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 196px;
    height: 1px;
    border-top: 1px solid white;
    visibility: visible;
    transform-origin: left top 0px;
    transition: all 1s;
    position: absolute;
    opacity: 0;
    top: 27%;
    left: 36.9%;
}

.sp-layer-border1 {
    transform: scale(0.69063) translate3d(50px ,0, 0);
}

.sp-layer-border2 {
    top: 27%;
    left: 53%;
    transform: scale(0.69063) translate3d(-50px ,0, 0);
}
.sp-layer-border3 {
    top: 32%;
    left: 36.9%;
    transform: scale(0.69063) translate3d(50px ,0, 0);
}
.sp-layer-border4 {
    top: 32%;
    left: 53%;
    transform: scale(0.69063) translate3d(-50px ,0, 0);
}

.sp-layer-smtext1, .sp-layer-smtext2, .sp-layer-smtext3, .sp-layer-smtext4 {
    font-size: 13px;
    color: #d5d7d8;
    text-transform: uppercase;
    top: 24.7%;
    left: 38.7%;
    transition: all 1s;
    position: absolute;
    opacity: 0;
}

.sp-layer-smtext1 i, .sp-layer-smtext2 i, .sp-layer-smtext3 i, .sp-layer-smtext4 i {
    font-size: 12px;
    margin: 0 3px;
}

.sp-layer-smtext1 {
    transform: scale(0.69063) translate3d(50px ,0, 0);
}

.sp-layer-smtext2 {
    top: 24.7%;
    left: 53.1%;
    transform: scale(0.69063) translate3d(-50px ,0, 0);
}

.sp-layer-smtext3, .sp-layer-smtext4 {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    top: 32.8%;
    left: 40%;
}

.sp-layer-smtext3 {
    transform: scale(0.69063) translate3d(50px ,0, 0);
}

.sp-layer-smtext4 {
    top: 32.8%;
    left: 53%;
    transform: scale(0.69063) translate3d(-50px ,0, 0);
}

.sp-layer-smtext5, .sp-layer-smtext6, .sp-layer-smtext7, .sp-layer-smtext8, .sp-layer-smtext9 {
    color: #f3f8f9;
    transform-origin: left top 0px;
    position: absolute;
    margin: 0;
    line-height: 1.4;
    transition: all 2s;
    opacity: 0;
    white-space: nowrap;  
}

.sp-layer-smtext5 {
    font-size: 18px !important;
    top: 245.172px;
    left: 744.494px;
    transform: scale(0.699479) translate3d(0px, -50px, 0px);
}

.sp-layer-smtext6 {
    top: 279.792px;
    left: 650.516px;
    font-family: "Great Vibes", cursive;
    font-size: 45px;
    transform: scale(0.699479) translate3d(0px, -50px, 0px);
}

.sp-layer-smtext7 {
    top: 321.76px;
    left: 543.495px;
    font-size: 100px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.1em;
    transform: scale(0.699479) translate3d(0px, 50px, 0px);
}

.sp-layer-smtext8 {
    top: 419.688px;
    left: 678.495px;
    font-size: 14px;
    letter-spacing: -0.07em;
    transform: scale(0.699479) translate3d(0px, 50px, 0px);
}

.sp-layer-smtext9 {
    top: 475.646px;
    left: 734.453px;    
    transform: scale(0.699479) translate3d(0, 0, 0px);
}

.sp-layer-smtext9 a {
    display: block;
    color: #f3f8f9;
    text-decoration: none;
    font-size: 19px;
    font-weight: 300;
/*    width: 100px;*/
    height: 40px;
    line-height: 40px;
    font-family: "Montserrat", sans-serif;
    padding: 0 55px 0 15px;
    border: 1px solid #fbfbfb;
}

.sp-layer-smtext9 a:after {
    content: "\f105";
    font-family: fontAwesome;
    width: 39px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border-left: 1px solid #fbfbfb;
    z-index: 210;

}
.sp-layer-smtext9 > a:hover{
    border-color: #ffba00;
}


/* Button prev, next, scroll down */
#kopa-area1-prev, #kopa-area1-next {
    display: block;
    position: absolute;
    background-color: transparent;
    border: none;
    top: 47%;
    outline: none;
    transform: translateX(50%);
    color: white;
    width: 20px;
}

#kopa-area1-prev {
    left: 60px;
}

#kopa-area1-prev p, #kopa-area1-next p {
    line-height: 17px;
}

#kopa-area1-prev p, #kopa-area1-next p {
    font-family: "Montserrat", sans-serif;
}

#kopa-area1-prev p, #kopa-area1-next p {
    width: 3px;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    word-break: break-all;
    
/*    color: white;*/
}

#kopa-area1-next {
    right: 60px;
}

#kopa-area1-prev:hover, #kopa-area1-next:hover {
    color: #ffba00;
    transition: all 1s ease;
}

#kopa-area1-scroll {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    width: 18px;
    text-decoration: none !important;
    z-index: 17;
}

#kopa-area1-scroll p {
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 10px;
    white-space: nowrap;
    margin-top: -20px;
}

#kopa-area1-scroll:hover {
    cursor: pointer;
}


/**************/
/* Kopa Area2 */
#kopa-area2 {
    display: block;
    width: 100%;
    background-color: #fff;
}

#kopa-area2-top {
    display: block;
    width: 100%;
    margin: 100px auto 0;
    text-align: center;
}

#kopa-area2-intro {
    display: inline-block;
    width: 652px;
    text-align: center;
}

#kopa-area2-intro > h2 {
    font-size: 42px;
    line-height: 50px;
    letter-spacing: -0.045em;
    font-weight: 600;
    color: #333333;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

#kopa-area2-intro > h4 {
    margin: -5px 0 0 0;
        font-size: 13px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
}

#kopa-area2-intro > p {
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    margin: 25px 0 0 0 ;
}

#kopa-area2-bottom {
    display: block;
    width: 100%;
    text-align: center;
    margin: 100px auto 115px;
}

#kopa-area2-bottom:after, #kopa-area2-bottom-wrapper:after {
    content: ' ';
    display: block;
    clear: both;
}

#kopa-area2-bottom-wrapper {
    display: block;
    width: 1080px;
    margin: 0 auto;
}

.kopa-area2-item {
    display: inline-block;
    width: 260px;
    float: left;    
    text-align: center;
    margin: 0 50px;
}

.kopa-area2-content {
    margin-top: 38px;
}

.kopa-area2-content h3 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 18px;
    margin: 0;
    color: #333333;
}

.kopa-area2-content p {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
}

/**************/
/* Kopa Area3 */
#kopa-area3 {
    display: block;
    width: 100%;
    background-color: #f8f8f8;
}

#kopa-area3-wrapper {
    display: block;
    width: 1170px;
    margin: 0 auto;
    padding: 100px 0;
    position: relative;
}

#kopa-area3-wrapper:after {
    content: ' ';
    display: block;
    clear: both;
}

#kopa-area3-portfolio {
    display: inline-block;
    width: 255px;
    float: left;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    vertical-align: middle;
}

#kopa-area3-portfolio > h2 {
    float: right;
    font-size: 23px;
    font-weight: 600;
    color: #333333;
    margin: 0;
}

#kopa-area3-portfolio > h4 {
    float: right;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    margin: 0;
}

#kopa-area3-works {
    display: inline-block;
    width: 170px;
    height: 120px;
    float: left;
    vertical-align: middle;
    text-align: center;
    margin-left: 490px;
}

.kopa-style01 {
    display: inline-block;
    width: 84px;
    height: 84px;
    border: 1px dashed #d5d4d3;
    margin: 17px;
}

.kopa-style01 > div {
    display: inline-block;
    background-color: #f8f8f8;
    width: 84px;
    height: 84px;
    border: 1px solid #333333;
    transform: rotate(-45deg);
}

.kopa-style01 > div > div {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 17px;
    transform: rotate(45deg);
/*    position: relative;*/
}

.kopa-style01 > div > div > i {
    font-size: 30px;
    color: #333333;
}

.kopa-style01 > div > div > p {
    font-size: 12px;
    text-transform: uppercase;
    margin-top: -5px;
    font-weight: bold;
    color: #333333;
}

.kopa-line {
    display: inline-block;
    width: 186px;
    height: 1px;
    float: left;
    background-color: #333333;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 300px;
    transform: translateY(-50%);
}

#kopa-area3-wrapper > ul {
    display: inline-block;
    list-style-type: none;
    float: left;
    height: 120px;
    line-height: 120px;
    vertical-align: middle;
    margin: 0;
    padding-left: 20px;    
}

#kopa-area3-wrapper > ul > li {
    float: left;
    margin-right: 23px;
}

#kopa-area3-wrapper > ul > li > a {
    color: #333333;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
}

/**************/
/* Kopa Area4 */
#kopa-area4 {
    display: block;
    width: 100%;
    position: relative;
}

#kopa-area4:after {
    content: ' ';
    display: block;
    clear: both;
}


#kopa-area4-show {
    display: inline-block;
    background-image: url('../img/horse.jpg');
    background-size: cover;
    background-position: center center;
    background-color: rgba(255, 255, 255, 0.8);
    width: 664.500px;
    float: left;
    text-align: center;
}

#kopa-show-wrapper {
    display: block;
    width: 600px;
    padding-top: 130px;
    padding-left: 35px;
    padding-right: 30px;
/*    padding: 100px auto;*/
    background-color: rgba(255, 255, 255, 0.8);
}

#kopa-area4-show-img {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

#kopa-show-wrapper > h1 {
    margin: 0 0 20px 0;
    color: #333333;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
}

#kopa-show-wrapper > h3 {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}

#kopa-show-wrapper > h3 > p {
    display: inline-block;
    text-align: center;
    width: 450px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.kopa-btn {
    display: inline-block;
    margin-bottom: 100px;
    position: relative;
    color: #333333;
    height: 39px;
    line-height: 39px;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid #333333;
    padding: 0 55px 0 15px;
    transition: all 0.5 ease;
}

.kopa-btn:after {
    content: "\f105";
    font-family: fontAwesome;
    width: 39px;
    height: 39px;
    line-height: 39px;
    text-align: center;
    position: absolute;
    z-index: 10000;
    background: transparent;
    border-left: 1px solid #333333;
    
    top: 0;
    right: 0;
}

.kopa-btn:hover {
    border-color: #ffba00;
    transition: all 500ms ease;
}

.kopa-btn:hover:after{
    background: #ffba00;
    border-left-color: #ffba00;
    transition: all 500ms ease;
}

.kopa-area4-item {
    display: inline-block;
    width: 330px;
    float: left;
    position: relative;
    overflow: hidden;
}

#kopa-area4-item-img img {
    width: 330px;
}

#kopa-area4-bump {
    display: inline-block;
    width: 330px;
    height: 278.438px;
    position: absolute;
/*    background-color: #003143;*/
    opacity: 0;
    top: 0;
    transition: all 0.5s;
    left: 0;
    text-align: center;
}

#kopa-area4-bump:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: all 0.5s;
    display: inline-block;
    width: 330px;
    height: 278px;
    background-color: #003143;
}

#kopa-area4-bump > div {
    margin-top: 30px;
    opacity: 0;
    margin-bottom: 30px;
    transform: translate3d(0, 120px, 0);
    transition: all 0.5s;
    z-index: 3;
    position: relative;
}

#kopa-area4-bump > a {
    display: inline-block;
    font-size: 16px;
    width: 200px;
    opacity: 0;
    color: #fff;
    transform: translate3d(0, 120px, 0);
    transition: all 0.5s;
    text-decoration: none;
    z-index: 3;
    position: relative;
}

#kopa-area4-bump > a:hover {
    color: #ffba00;
    transition: all 500ms ease;
}

/**************/
/* Kopa Area5 */
#kopa-area5 {
    display: block;
    width: 100%;
    padding: 63px 0;
    background-color: #003143;
}

#kopa-area5 > i {
    font-size: 55px;
    color: #fff;
    margin-left: 74px;
}

/**************/
/* Kopa Area6 */
#kopa-area6 {
    display: block;
    width: 100%;
    background-image: url('../img/sky.jpg');
    background-size: cover;
    background-position: center center;
    padding-top: 100px;
    text-align: center;
}

#kopa-area6 > h2 {
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 30px;
    color: #333333;
}

#kopa-area6 > h4 {
    
   
}

#kopa-area6 > h4 > p {
    font-family: "Roboto", sans-serif;
    max-width: 790px;
    font-size: 17px;
    color: #4c4c4c;
    font-weight: 400;
     margin: 40px auto;
}

#kopa-area6-img img {
    margin-bottom: -30px;    
}

/**************/
/* Kopa Area7 */

#kopa-area7 {
    display: block;
    width: 100%
}

#kopa-area7-wrapper {
    display: block;
    width: 1190px;
    margin: 0 auto 40px;
}

#kopa-area7-top {
    display: block;
    width: 100%;
    height: 120px;
    position: relative;
    margin-top: 100px;
}

#kopa-area7-top > a {
    display: inline-block;
    line-height: 120px;
    color: #333333;
    text-decoration: none;
    font-size: 15px;
}

#kopa-area7-top > a:hover {
    color: #ffba00;
    transition: all 500ms ease;
}
  
#kopa-area7-top > p {
    display: inline-block;
    line-height: 120px;
    margin-left: 90px;
    font-size: 15px;
    color: #333333;
}

#kopa-area7-top > .kopa-style01 {
    position: absolute;
    top: 30%;
    transform: translateY(-45%);
    left: 530px;
}

#kopa-area7-top > span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 700px;
    color: #000;
}

#kopa-area7-top > #kopa-area3-portfolio {
    left: 930px;
    float: left;
}

#kopa-area7-top > #kopa-area3-portfolio > h2 {
    float: left;
}

#kopa-area7-top > #kopa-area3-portfolio > h4 {
    float: left;
}

#kopa-area7-bottom {
    display: block;
    width: 100%;
    margin-top: 60px;
}

#kopa-area7-bottom:after {
    content: ' ';
    display: block;
    clear: both;
}

#kopa-area7-bottom .kopa-area4-item {
    margin-right: 35px;
    margin-bottom: 35px;
}

#kopa-area7-bottom .kopa-area4-item #kopa-area4-bump, #kopa-area7-bottom .kopa-area4-item #kopa-area4-bump:after, #kopa-area7-bottom .kopa-area4-item #kopa-area4-item-img img
, #kopa-area7-bottom .kopa-area4-item{
    width: 270px;
    height: 269px;
}

.kopa7-link {
    display: inline-block !important;
    width: 35px;
    height: 35px;
    line-height: 35px !important;
    border-radius: 100%;
    background: #1f6c87;
    text-decoration: none;
    color: #fff;
    margin-right: 5px;
}

.kopa7-link:hover {
    background: #ffba00;
    transition: all 500ms ease;
}

.kopa7-social {
    margin-top: 110px !important;
}

.kopa7-social-h2 {
    font-size: 18px !important;
}

.kopa7-social-h4 {
    font-size: 12px !important;
    color: #dddddd !important;
}

#kopa7-join {
    display: inline-block;
    width: 575px;
    height: 269px;
    background-color: #f7f7f7;
    position: relative;
    z-index: 10;
}

#kopa7-join-top {
    display: block;
    width: 100%;
    float: left;
}

#kopa7-join-top > a {
    display: inline-block;
    float: left;
    color: #333333;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    padding: 60px 0 0 40px !important;
}

#kopa7-join-top > a:hover {
    color: #ffba00;
    transition: all 500ms ease;
}

#kopa7-join > h4 {
    margin-left: 40px;
    font-weight: normal;
}

#kopa7-join > span {
    display: inline-block;
    width: 45px;
    background: #333333;
    height: 2px;
    margin-left: 40px;
    margin-top: 30px;
}

#kopa7-join > p {
    margin-left: 40px;
    font-weight: normal;
}

/**************/
/* Kopa Area8 */
#kopa-area8 {
    display: block;
    width: 100%;
    background-image: url("../img/background.jpg");
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#kopa-area8 > #kopa-area3-wrapper > #kopa-area3-portfolio > h2, #kopa-area8 > #kopa-area3-wrapper > #kopa-area3-portfolio > h4, #kopa-area8 > #kopa-area3-wrapper .kopa-line {
    color: #fff !important;
}

#kopa-area8 > #kopa-area3-wrapper .kopa-line {
    background: #fff;
    height: 1.5px;
}

#kopa-area8 > #kopa-area3-wrapper > #kopa-area3-works > .kopa-style01 > div {
    background: #fff !important;
}

#kopa-area8 > #kopa-area3-wrapper > ul > li, #kopa-area8 > #kopa-area3-wrapper > ul > li > a{
    color: #fff;
}

#kopa-area8 > #kopa-area3-wrapper > ul > li > a > i {
    margin-left: 20px;
    margin-right: 15px;
}

.kopa8-content {
    display: inline-block;
    width: 295px;
    position: relative;
    text-align: center;
    background-color: #fff;
    border-right: 1px solid #dddddd;
    margin-left: -3.5px;
    margin-bottom: 150px;
}

.kopa8-content:hover {
    background: #F3F5F6;
    transition: all 500ms ease;
}

#kopa8-empty {
    display: block;
    width: 1185px;
    margin: 0 auto;
}

.kopa8-content-wrapper {
    display: inline-block;
    width: 225px;
    margin: auto;
    text-align: left;
}

.kopa8-content-wrapper > h2 {
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    margin-top: 40px;
}

#kopa8-price > h1 {
    width: 52px;
    float: left;
    font-size: 42px;
    font-weight: bold;
}

#kopa8-price > h3 {
    margin-left: 87px;
    margin-top: 23px;
    font-size: 20px;
    font-weight: normal;
}

.kopa8-content-wrapper > p {
    font-size: 14px;
    font-weight: normal;
    color: #999999;
}

.kopa8-content-wrapper > p:after {
    content: ' ';
    display: inline-block;
    margin-top: 25px;
    width: 225px;
    height: 1px;
    background-color: #dddddd;
}

.kopa8-content-wrapper > ul {
    margin-top: 40px;
    margin-bottom: 40px;
}

.kopa8-content-wrapper > ul:after {
    content: ' ';
    display: block;
    clear: both;
}

.kopa8-content-wrapper > ul > li {
    display: inline-block;
    float: left;
    list-style-type: none;
    width: 200px;
    margin-bottom: 15px;
}

.kopa8-content-wrapper > ul > li i {
    line-height: 24px;
    margin-right: 10px;
    color: #8bb22c;
}

.no-color {
    color: #cccccc !important;
}

.kopa8-content-wrapper > ul > li b {
    margin-right: 5px;
}

.kopa8-content-wrapper > ul > li i,.kopa8-content-wrapper > ul > li b,  .kopa8-content-wrapper > ul > li p {
    float: left;
}

.kopa8-content-wrapper > .kopa-btn {
    margin-bottom: 40px !important;
}

/**************/
/* Kopa Area9 */
#kopa-area9 {
    display: block;
    width: 100%;
    background-color: #003143;
}

#kopa-footer {
    display: block;
    width: 1180px;
    margin: 0 auto;
}

#kopa-footer > span > h4 {
    display: inline-block;
    width: 59px;
    color: #ffba00 !important;
    font-weight: 400;
    font-size: 14px;
}

#kopa-footer > span > p {
    display: inline-block;
    color: #fff;
}

#kopa-footer > span > p > i {
    color: #ff5b26 !important;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}